---
import NewsletterForm from '../components/NewsletterForm.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<div class="container">
		<header class="page-header">
			<h1 class="page-title">About</h1>
		</header>
		<div class="page-body">
			<p><strong class="highlight">Alaska-specific reporting</strong> (for the most part).</p>
			<p><strong class="highlight">Monthly issues</strong> (generally).</p>
			<p><strong class="highlight">Funny</strong> (sometimes).</p>
			<p>
				All The Anchorage is a satirical publication. All names are fictional except for those of
				public figures. Any other overlap with real names is accidental and coincidental.
			</p>
			<p>All content on this website is the product of a <strong class="highlight">fallible human brain</strong>.</p>
			<p>Contact me at <strong class="highlight">alltheanchorage@gmail.com</strong>.</p>
			<p>
				Sign up to receive <strong class="highlight">email updates</strong> when new articles release.
			</p>
			<NewsletterForm />
		</div>
	</div>
</Layout>
