---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<div class="container">
		<header class="page-header">
			<h1 class="page-title">About</h1>
		</header>
		<div class="page-body">
			<p>
				Alaska-specific reporting (for the most part).
				Monthly issues (generally).
				Funny (sometimes).

				Sign up for the All The Anchorage newsletter to receive new headlines in your inbox. 

				All The Anchorage is a satirical publication. All names are fictional except for those of public figures and companies. Any other overlap with real names is accidental and coincidental.
			</p>
		</div>
	</div>
</Layout>
