---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Suggestions">
	<div class="container">
		<header class="page-header">
			<h1 class="page-title">Suggestions</h1>
		</header>
		<div class="page-body">
			<p>
				Have a tip? Want to see a headline featured on the site? Submit full headlines or just ideas to the form below, I'll do my best to incorporate them into a future issue!
			</p>
			<p>
				You can also submit headlines, ideas, and suggestions via email to <strong class="highlight">alltheanchorage@gmail.com</strong>.
			</p>
			<div class="form-embed">
				<iframe
					src="https://docs.google.com/forms/d/e/1FAIpQLSejED7MfBf3N6aTs9Oxfd3zBoLmvSgQWuP986SZDtBYsee8tg/viewform?embedded=true"
					width="640"
					height="1000"
					loading="lazy"
				>
					Loading…
				</iframe>
			</div>
		</div>
	</div>
</Layout>
