<form
	class="newsletter-form"
	action="https://buttondown.com/api/emails/embed-subscribe/alltheanchorage"
	method="post"
>
	<label for="bd-email">Enter your email</label>
	<input type="email" name="email" id="bd-email" />
	<input type="submit" value="Subscribe" />
	<p class="newsletter-form-credit">
		<a href="https://buttondown.com/refer/alltheanchorage" target="_blank">Powered by Buttondown.</a>
	</p>
</form>
